<div class="center-container">
  <div class="row">
    <div class="column left-container">
      <div class="form-main">
        <form class="form-category" [formGroup]="categoryForm" (ngSubmit)="category()">
          <div class="form-group">
            <h1>Category</h1>
          </div>
          <div class="form-group">
            <label for="category"></label>
            <input type="text" class="form-control" name="category" formControlName="category"
              placeholder="Enter Category">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="categoryForm.invalid">Save</button>
        </form>
        <div class="data-talbe">
          <ngx-datatable class="material" [rows]="categoreList" [columns]="columnsCategory" [limit]="page.size"
            [count]="page.totalElements" [offset]="page.pageNo" (page)='getCategories($event)' [columnMode]="'force'"
            [headerHeight]="50" [footerHeight]="50" [columnMode]="'force'" [rowHeight]="'auto'">
          </ngx-datatable>
        </div>
      </div>
    </div>
    <div class="column right-container">
      <div class="form-main">
        <form class="form-category" [formGroup]="skillsForm" (ngSubmit)="skill()">
          <div class="form-group">
            <h1>Skills</h1>
          </div>
          <div class="form-group">
            <label for="category"></label>
            <ng-select [items]="categoreList" [bindLabel]="bindLabel" [bindValue]="bindValue" class="custom" formControlName="category">
            </ng-select>
          </div>
          <div class="form-group">
            <label for="skills"></label>
            <input type="text" class="form-control" name="skills" formControlName="skills"
              placeholder="Enter Skill">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="skillsForm.invalid">Save</button>
        </form>
        <div class="data-talbe">
          <ngx-datatable class="material" [rows]="skillsList" [columns]="columnsSkill" [limit]="page.size"
            [count]="page.totalElements" [offset]="page.pageNo" (page)='getCategories($event)' [columnMode]="'force'"
            [headerHeight]="50" [footerHeight]="50" [columnMode]="'force'" [rowHeight]="'auto'">
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>