.left-container {
  width: 50%;
}

.right-container {
  width: 50%;
}

.form-main {
  padding-left: 10px;
}

.form-category {
  width: 100%;
  max-width: 330px;
  padding-top: 20px;
}

.data-talbe {
  width: 50%;
  padding-top: 10px;
}
